<div>
<h1>Calculator</h1>
</div>
<div>
  <textarea [disabled]='true'>{{expressinToDisplay}}</textarea>
</div>
<div>
  <textarea [disabled]='true'>{{resultToDisplay}}</textarea>
</div>
<div>
  <button (click)="numberPadClick(1)">1</button>
  <button (click)="numberPadClick(2)">2</button>
  <button (click)="numberPadClick(3)">3</button>
  <button class='operatorButton'  (click)="operatorClick('+')">+</button>
</div>
<div>
  <button (click)="numberPadClick(4)">4</button>
  <button (click)="numberPadClick(5)">5</button>
  <button (click)="numberPadClick(6)">6</button>
  <button class='operatorButton' (click)="operatorClick('-')">-</button>
</div>
<div>
  <button (click)="numberPadClick(7)">7</button>
  <button (click)="numberPadClick(8)">8</button >
  <button (click)="numberPadClick(9)">9</button>
  <button class='operatorButton' (click)="operatorClick('*')">*</button>
</div>
<div>
  <button>.</button>
  <button (click)="numberPadClick(0)">0</button>
  <button style="background-color: blanchedalmond;">C</button>
  <button class='operatorButton' (click)="operatorClick('/')">/</button>
</div>